@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: oklch(74% 0.02 145);
  display: grid;
  grid-template-columns: minmax(0, 40ch);
  margin: 0;
  min-height: 100vh;
  padding: 0 0 20vh;
  place-content: center;
}

body {
  font: normal 400 12px / 16px "Courier Prime", ui-monospace, Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
    "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;
}

main {
  text-align: center;
}
